<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create diary</title>
</head>
<body>
    {{>header}}
     <div class="main-container" style="background-color: rgb(184, 224, 211);">
        <h1>Create Your Diary</h1>
        <p>มาเก็บความทรงจำกันเถอะ</p>
        <form action="/post/new" method="post">
            <p>
                <input type="text" name="name" placeholder="Name">
            </p>
            <p>
                <input type="date" name="date">
            </p>
            <p>
                <input type="text" name="topic" placeholder="Topic">
            </p>
            <p>
                <textarea type="text" name="tell_story" placeholder="Tell your story"></textarea>
            </p>
            <p>
                <button type="submit">CREATE</button>
            </p>
        </form>

    </div>
    {{>footer}}
</body>
</html>