<!DOCTYPE html>
<html lang="en">
<head>
    {{>baseHead}}
    <title>Home</title>
</head>
<body>
    <div class="main-container-body">
        {{>header}}
        <div class="done-page">
            <h1>Create Diary DONE!!</h1>
            <p>คุณสามารถกลับไปดู Diary ทั้งหมดได้ในหน้า Main diary</p>
            <button><a href="/post">Return to Home</a></button>
        </div>
    </div>
    {{>footer}}
</body>
</html>