<!DOCTYPE html>
<html lang="en">
<head>
    {{>baseHead}}
    <title>Create diary</title>
</head>
<body>
    <div class="main-container-body">
        {{>header}}
        <div>
            <h1>Create Your Diary</h1>
            <p>มาเก็บความทรงจำกันเถอะ</p>
            <form action="/post/new" method="post">
                {{>form}}
            </form>
            {{#if message}}
                <p>{{ message }}</p>
            {{/if}}
        </div>
        {{>footer}}
    </div>
</body>
</html>