<!DOCTYPE html>
<html lang="en">
<head>
    {{>baseHead}}
    <title>Home</title>
</head>
<body>
    <div class="main-container" style="background-color: rgb(184, 224, 211);">
        {{>header}}
        <h1>Edit Diary DONE!!</h1>
        <p>คุณสามารถกลับไปดู Diary ทั้งหมดได้ในหน้า Main diary</p>
        <button><a href="/post">Return to Home</a></button>
    </div>
    {{>footer}}
</body>
</html>