<!DOCTYPE html>
<html lang="en">
<head>
    {{>baseHead}}
    <title>Edit diary</title>
</head>
<body>
    <div class="main-container-body">
        {{>header}}
        <div class="container-form">
            <h1 class="form-text">Edit Your Diary</h1>
            <p>แก้ไขความทรงจำ</p>

            {{!-- method with is pull value you choose --}}
            {{#with postID}}
            <form action="/post/update/{{this.id}}" method="post"> 
                {{>form}}
            </form>
            {{/with}}
        </div>
        {{>footer}}
    </div>
</body>
</html>