<!DOCTYPE html>
<html lang="en">
<head>
    {{>baseHead}}
    <title>Edit diary</title>
</head>
<body>
    {{>header}}
     <div class="main-container" style="background-color: rgb(184, 224, 211);">
        <h1>Edit Your Diary</h1>
        <p>แก้ไขความทรงจำ</p>

        {{!-- method with is pull value you choose --}}
        {{#with postID}}
        <form action="/post/update/{{this.id}}" method="post"> 
            {{>form}}
        </form>
        {{/with}}
    </div>
    {{>footer}}
</body>
</html>