<footer class="main-container-footer">
  <div class="container-pic">
    <img src="/static/IMG_4932.PNG" alt="" />
    <img src="/static/IMG_4930.PNG" alt="" />
    <img src="/static/IMG_4931.PNG" alt="" />
    <img src="/static/IMG_4934.PNG" alt="" />
  </div>
  <p>&copy; Create by
    <span><a href="https://github.com/ParinchatJ">PoJ</a> - 2023</span></p>
</footer>