<p>
  <input type="text" name="name" value="{{this.name}}" placeholder="Name" />
</p>
<p>
  <input type="date" name="date" value="{{this.datePostFormat}}" />
</p>
<p>
  <input type="text" name="topic" value="{{this.topic}}" placeholder="Topic" />
</p>
<p>
  <textarea
  class="textarea-form"
    type="text"
    name="tell_story"
    placeholder="Tell your story"
  >{{this.tell_story}}</textarea>
</p>
<p>
  <button class="button-form" type="submit">SAVE</button>
 </p>
