<header style="background-color: rgb(229, 180, 166);">
    <h1><a href="/post">MDiary</a></h1>
    <nav>
        <ul>
            <li><a href="/myspace">My space</a></li>
            <li><a href="/post">Main diary</a></li>
            <li><a href="/post/new">Create my diary</a></li>
        </ul>
    </nav>
</header>