<header class="main-container-nav">
    <div class="logo-nav">
        <img src="/static/IMG_4932.PNG" alt="">
        <h1><a href="/post">MDiary</a></h1>
    </div>
    <nav>
        <ul>
            <li><a href="/post">Home</a></li>
            <li><a href="/myspace">Myspace</a></li>
            <li class="button-create-nav"><a class="button" href="/post/new">CreateMyDiary</a></li>
        </ul>
    </nav>
</header>