@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,700;1,400;1,500&display=swap');

/* general */

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 300;
    color: #333;
    padding-bottom: 10%;
    background-color: floralwhite;
}

/* scrollbar */

::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  

  ::-webkit-scrollbar-thumb {
    background: #c04444;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: yellow;
  }

h1, h2, h3, h4, h5, h6 {
    line-height: 50px;
}

h1 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

p {
    line-height: 40px;
    font-size: 16px;
}

hr {
    border: 1px dashed gray
}

.main-container-body {
    position: relative;
    min-height: 100%;
    width: 100%;

    margin-bottom: -80px;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 17px;
}

input {
    border: 2px solid black;
    font-family: 'Roboto Mono', monospace;;
    font-size: 14px;
    text-align:center;
    margin: 15px 0;
    height: 35px;
    width: 240px;
}

.button-form {
    margin-top: 20px;
    border: 2px solid black;
    height: 40px;
    width: 100px;
    background-color: slateblue;
}

.errormessage {
    padding-top: 20px;
    color: red;
    font-weight: 700;
}

.form-text {
    font-size: 40px;
}

.textarea-form {
    border: 2px solid black;
    font-family: 'Roboto Mono', monospace;;
    font-size: 14px;
    text-align:center;
    padding: 20px 0;
    margin: 15px 0;
    height: 70px;
    width: 240px;
}

.box-post {
    border: 2px solid black;
    width: 600px;
    margin: 10px;
    background-color: white;
}

.container-post {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-post {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.data-post {
    padding: 0 15px;
}

/* page */
/* header */

.main-container-nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    border-bottom: 2px solid black;
    background-color: white;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.main-container-nav .logo-nav {
    display: flex;
    padding-left: 20px;
    align-items: center;
}

.main-container-nav .logo-nav img {
    padding-right: 10px;
    height: 50px;
}

.main-container-nav .logo-nav h1 {
    line-height: none;
}

.main-container-nav .logo-nav h1 a {
    color: black;
}

.main-container-nav nav {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.main-container-nav nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.main-container-nav nav ul li {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.main-container-nav nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.button-create-nav {
    border: 2px solid black;
    background-color: skyblue;
    padding: 10px;
    height: 35px;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

/* footer */

.main-container-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 3;
    width: 100%;
    height: 70px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid black;
    background-color: white;
}

.main-container-footer .container-pic {
    display: flex;
    flex-direction: row;
}

.main-container-footer .container-pic img {
    height: 37px;
    padding-top: 10px;
}

.main-container-footer p {
    font-size: 13px;
    font-weight: 500;
}

.main-container-footer p span a {
    font-style: italic;
    color: green;
}

/* HomePage */

.head-post h4 a {
    font-size: 20px;
    color: #f1f1f1;
    border: 2px solid #333;
    background-color: #333;
    width: auto;
    padding: 2px 10px;
}

.button-ud {
    display: flex;
    align-items: center;
}

.button-ud a {
    padding-left: 7px;
}

/* myspacePage */

.container-msp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-msp h2 {
    margin-top: 10px;
    font-size: 32px;
}

.container-msp span {
    margin: 10px;
}

.mydiary-head {
    font-size: 30px;
}

.head-post-msp {
    font-size: 20px;
    color: #f1f1f1;
    border: 2px solid #333;
    background-color: #333;
    width: auto;
    padding: 5px 10px;
    line-height: 25px;
    margin-top: 10px;
}

.dot {
    width: 90%;
}

/* updateDone */


